<h1>Your Cart</h1>
<table>
  <thead>
    <th>Product Name</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Unit Total</th>
  </thead>
  <tbody>
    <% @product_info_array.each do |product_info| %>
    <tr class="product-in-cart">
      <td><%= product_info[:product].name %></td>
      <td>$<%= product_info[:product].price %></td>
      <td><%= product_info[:quantities] %></td>
      <td>$<%= product_info[:total] %></td>
      <td>
        <%= link_to "Checkout", new_transactions_path(product_id: product_info[:product].id) %>
      </td>
      <td>
        <%=link_to "" , class: "cart-remove-button", data: {targetUrl: remove_from_cart_path(product_info[:product])} do%>
        <i>x</i>
        <%end%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
