<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product %></td>
      <td>$ <%= product.price %></td>
    </tr>

    <% if signed_in? %>
    <tr>
      <td>
        <%= form_tag('', class: 'cart-form', data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)}) do %>
          <%= number_field_tag 'quantity', '1', min: 1 %>
          <%= submit_tag @cart_action %>
        <% end %>
      </td>
    </tr>
    <% end %>

    <% end %>
  </tbody>
</table>